{% extends 'base.html' %}

{% block content %}
<h2>Lista de Productos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Fecha de Vencimiento</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.fecha_vencimiento }}</td>
            <td>{{ producto.categoria }}</td>
            <td>
                <form action="{{ url_for('eliminar_producto', id_producto=producto.id) }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</button>
                </form>
                <a href="{{ url_for('editar_producto', id_producto=producto.id) }}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

