body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #007BFF;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}

.flash {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

button {
    background-color: #dc3545; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333; /* Color de fondo más oscuro al pasar el mouse */
}

a {
    margin-left: 10px;
    color: #007BFF; /* Color de enlace */
}

a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

